<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/user/<%= user.id %>/update" method="POST">
      <div>
        
      <div>
        <label for="username">Username: </label>
        <input
          type="text"
          name="username"
          id="username"
          required
          value="<%= user.username %>"
        />
      </div>
      <div>
        <label for="email">Email: </label>
        <input
          type="email"
          name="email"
          id="email"
          required
          value="<%= user.email %>"
        />
      </div>
      <div>
        <label for="age">Age: </label>
        <input
          type="number"
          name="age"
          id="age"
          max="120"
          min="18"
          value="<%= user.age %>"
        />
      </div>
      <div>
        <label for="bio">Bio: </label>
        <textarea name="bio" id="bio"><%= user.bio %></textarea>
      </div>
      <button type="submit">Update User</button>
    </form>
    <a href="/user">Back to home</a>
  </body>
</html>
